/*navbar section*/
.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 50px;
}
.logo{
    align-items: flex-start;
    color: white;
}
.pages{
    display: flex;
    flex-wrap: wrap;/**/
    align-content: space-between;
}
.pages a{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
.header{
    display:grid;
    flex-direction: row;
    flex-wrap: wrap;
}
/*buttons at the coner*/
.corner{
    position: fixed;
    display: grid;
    margin-top: 15%;
    justify-self: flex-end;
    flex-wrap: wrap;
}
#blue{
    color: white;
    background-color: black;
    font-size: 20px;
    width: 150px;
}#blue1{
    color: rgb(10, 10, 10);
    background-color: rgba(20, 160, 216, 0.445);
    font-size: 20px;
    width: 150px;
    border-style: none;
}
#blue a{
    color: white;
    text-decoration: none;
}
#white{
    color: black;
    background-color: white;
    width: 150px;
    font-size: 20px;
}
.open-btn{
    color: black;
    background-color: white;
    width: 150px;
    font-size: 20px;
  color: rgb(5, 5, 5);
  border: none;
  cursor: pointer;
  margin-top: 0px;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
    padding: 150px;
}
.description,.image{
    width: 50%;
}
@media screen (max-width:768px;) {
    .section2{
        flex-wrap: wrap-reverse;
    }
    .image{
        order: 1;
    }
    .description,.image{
        width: 100%;
    }
}
/*textarea*/
.message{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 350px;
}
input{
    width: 350px;
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid;
}
textarea{
    width: 350px;
    border: 2px solid;
    margin-top: 20px;
}
button{
    align-items: center;
    width: 150px;
    padding: 10px;
    font-size: 20px;
}
button:hover{
    background-color: red;
}
/*footer section*/
footer{
    display:flex;
    justify-content: space-around;
    padding: 10% 50px;position: sticky;
}
.icones{
    display: flex;
}
.icones a{
    padding: 0px 20px;
}
/*portfolio herder part*/
h1{
    font-size: 40px;
    text-align: center;
    color: white;
}
.nav1{
    text-align: center;
    margin-bottom: 10%;
    background-color: black;
}
.nav1 a{
    text-decoration: none;
    color: black;
}
.section1{
    background-color:black;
    color: white;
    font-size: 50px;
    width: 100%;
}
.section1 button{
    text-align: center;
    background-color: red;
    margin-bottom: 50px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-auto-rows: 400px;
    gap: 0%;
    padding: 60px;
    padding-right: 60px;
}
#images1{
    display: grid;
}
#image1{
    display: flex;
}
.body2{
        display: grid;
}
.footer{
    display: block;
    padding:0px 50px;
}
.footer footer{
    display:flex;
    justify-content: space-around;
    padding:0px 50px;
    position: sticky;
}
#active{
    color: red;
}
.intro{
    padding-left: 150px;
    margin: 50px;
    font-size: 50px;
}
h2{
    font-size: 50px;
}
#description{
    font-size: 20px;
}
.description button{
    background-color: red;
}
#section3{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 125px;

}
#section4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    }
.sectionpro2{
    display: block;
    flex-direction: row;
    padding-top: 50px;
    font-size: 50px;
    color: black;
}
.sectionpro2 a{
    color: black;
    text-decoration: none;
}
.sectionpro1 hr{
    width: 200px;
    justify-content: flex-start;
    margin-left: 40px;
    border: 2px solid tomato;
    text-align: center;
    background-color: red;
}
.intro button{
    margin-bottom: 50px;
}
#img{
    margin: 20px;
}
#award{
    text-align: center;
    margin: 50px;

}
span{
    margin-left: 250px;
}
#award hr{
    width: 800px;
    text-align: center;
    border: 2px black solid;
}
.Recognitions{
    width: 100%;
    background-color: black;
    color: bisque;
    font-size: 60px;
    display: flex;
    max-width: 1200px;
    height: 400px;
    padding-top: 100px;
    margin-top: 100px;
}
.Recognitions label{
    background-color: brown;
    color: black;
    margin-left: 200px ;
    font-size: 50px;
    height: 80px;
}
label span{
    margin-left:750px;
    font-size: 18px;
}
#label{
    text-align: center ;
    background-color: black;
    width: 1000px;
    color: white;

}
.content2{
    padding: 200px 0px ;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
}
.section3-2-2{
    display: flex;
    padding-left: 20px;
    width: 100%;
    text-align: center;
}
.box{
    width: 400px;
    padding: 50px;
}
.section3-2-1 h2{
    text-align: center;
}
.section3-1-1 h2{
    text-align: center;
}
.section3-1-2 ul{
    text-decoration: none;
}
.section3{
    background-color: black;
    color:white;
    width: 100%;
}
.section3-2{
    width: 100%;
}
.section3-1-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px solid white;
    width: 800px;
    height: 600px;
    margin-bottom: 50px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid white;
    border-left: none;
    border-bottom: none;
}
h6{
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid white;
    border-top: none;
    border-right: none;
}
.grid-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
#grid-item{
    border-top: none;
}
i{
    font-size: 25px;
}
body {
  margin: 0;
  font-family: Arial;
  border: 0;
  flex-wrap: wrap;
}
  @media screen {
    max-width: 768px;
  }

.panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 360px;
  height: 100%;
  background: #f5f5f5;
  box-shadow: -3px 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  transition: 0.3s;
}

.panel.active {
  right: 0;
}

.option-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.colors button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  margin: 5px;
}
.active{
    color: black;
    background-color: red;
}